<div class="separator mt-3 pt-2">
    <svg width="200" height="6" viewBox="0 0 200 12" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect width="200" height="12" rx="6" fill="url(#paint0_linear_6_74)"/>
      <defs>
      <linearGradient id="paint0_linear_6_74" x1="100" y1="0" x2="100" y2="12" gradientUnits="userSpaceOnUse">
      <stop stop-color="#1362FF"/>
      <stop offset="0.26157" stop-color="#1058E9"/>
      <stop offset="1" stop-color="#001D58"/>
      </linearGradient>
      </defs>
      </svg>    
  </div>